In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 28],
    'City': ['New York', 'Los Angeles', 'Chicago'],
    'Gender': ['Female', 'Male', 'Male']
}

df = pd.DataFrame(data)

# Select and display the non-numeric columns
non_numeric_columns = df.select_dtypes(exclude=['number'])
print(non_numeric_columns)

      Name         City  Gender
0    Alice     New York  Female
1      Bob  Los Angeles    Male
2  Charlie      Chicago    Male