In [22]:
# Import libraries
import numpy as np
import pandas as pd
import seaborn as sns

df = sns.load_dataset('iris')
# Import label encoder
from sklearn import preprocessing

# label_encoder object knows 
# how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Import dataset
#df = pd.read_csv('data/Iris.csv')

In [23]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [24]:
df['species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [25]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [26]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [27]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [28]:
# Encode labels in column 'species'.
df['species']= label_encoder.fit_transform(df['species'])
df['species'].unique()

array([0, 1, 2])

In [29]:
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [30]:
df_1 = sns.load_dataset('Iris')

In [31]:
df_1['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [32]:
df_1['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [33]:
dataset= df_1['species']

In [34]:
dataset.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [35]:
dataset_dict={}

for item in dataset:
    if item not in dataset_dict:
        dataset_dict[item]=len(dataset_dict)
dataset_dict

{'setosa': 0, 'versicolor': 1, 'virginica': 2}

In [36]:
numerical_data=[]
for item in dataset:
    numerical_data.append(dataset_dict[item])

In [37]:
df_1['Species_numerical']=numerical_data
df_1.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species',
       'Species_numerical'],
      dtype='object')

In [38]:
df_1

,sepal_length,sepal_width,petal_length,petal_width,species,Species_numerical
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,2
146,6.3,2.5,5.0,1.9,virginica,2
147,6.5,3.0,5.2,2.0,virginica,2
148,6.2,3.4,5.4,2.3,virginica,2
149,5.9,3.0,5.1,1.8,virginica,2

In [39]:
data = ["cat", "dog", "cat", "fish", "dog"]
dict_data={}

for item in data:
    if item not in dict_data:
        dict_data[item]=len(dict_data)
dict_data

{'cat': 0, 'dog': 1, 'fish': 2}

In [40]:
numerical_data=[]
for item in data:
    numerical_data.append(dict_data[item])
numerical_data

[0, 1, 0, 2, 1]