In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/play_tennis.csv')

In [3]:
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [4]:
data.shape

(14, 6)

In [5]:
data.drop(columns=['day'],inplace = True)

In [6]:
data.describe()

       outlook  temp humidity  wind play
count       14    14       14    14   14
unique       3     3        2     2    2
top      Sunny  Mild     High  Weak  Yes
freq         5     6        7     8    9

In [27]:
data.columns

Index(['outlook', 'temp', 'humidity', 'wind', 'play'], dtype='object')

In [28]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

#features = ['outlook','temp','humidity','wind']
df = data.apply(label_encoder.fit_transform)

In [29]:
df

    outlook  temp  humidity  wind  play
0         2     1         0     1     0
1         2     1         0     0     0
2         0     1         0     1     1
3         1     2         0     1     1
4         1     0         1     1     1
5         1     0         1     0     0
6         0     0         1     0     1
7         2     2         0     1     0
8         2     0         1     1     1
9         1     2         1     1     1
10        2     2         1     0     1
11        0     2         0     0     1
12        0     1         1     1     1
13        1     2         0     0     0

In [30]:
x= df.drop(['play'],axis=1)
y= df['play']

In [25]:
# splitting X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.4, random_state=42)

In [26]:
X_test.head()

    outlook  temp  humidity  wind
9         1     2         1     1
11        0     2         0     0
0         2     1         0     1
12        0     1         1     1
5         1     0         1     0

In [12]:
from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB(binarize = 0.0)

In [13]:
model.fit(X_train,y_train)

BernoulliNB()

In [17]:
y_pred = model.predict(X_test)

In [18]:
y_pred

array([1, 0, 0, 1, 1, 1])

In [16]:
from sklearn import metrics
print("model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

model accuracy(in %): 66.66666666666666